*{
    margin: 0;
  padding: 0;
  box-sizing: border-box
}

.page-header {
  position: relative;
  height: 260px;
  background: var(--color-background);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
